<h1>Editing manufacturer_synonym</h1>

<%= render 'form' %>

<%= link_to 'Show', manufacturer_manufacturer_synonym_path(@manufacturer_synonym.manufacturer_id, @manufacturer_synonym) %> |
<%= link_to 'Back', manufacturer_manufacturer_synonyms_path(@manufacturer) %>
