<p>
  <b>Sheet number:</b>
  <%=h @import_xl.sheet_number %>
</p>

<p>
  <b>Start from line:</b>
  <%=h @import_xl.start_from_line %>
</p>


<%= link_to 'Edit', edit_import_xl_path(@import_xl) %> |
<%= link_to 'Back', import_xls_path %>