<h1>Listing mies</h1>

<table>
  <tr>
  </tr>

<% @mies.each do |my| %>
  <tr>
    <td><%= link_to 'Show', my %></td>
    <td><%= link_to 'Edit', edit_my_path(my) %></td>
    <td><%= link_to 'Destroy', my, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New my', new_my_path %>