<p>
  <b>Goods:</b>
  <%=h @goods_auto_option.goods %>
</p>

<p>
  <b>Auto option:</b>
  <%=h @goods_auto_option.auto_option %>
</p>


<%= link_to 'Edit', edit_goods_auto_option_path(@goods_auto_option) %> |
<%= link_to 'Back', goods_auto_options_path %>