<h1>Listing import_csvs</h1>

<table>
  <tr>
  </tr>

<% @import_csvs.each do |import_csv| %>
  <tr>
    <td><%= link_to 'Show', import_csv %></td>
    <td><%= link_to 'Edit', edit_import_csv_path(import_csv) %></td>
    <td><%= link_to 'Destroy', import_csv, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New import_csv', new_import_csv_path %>