<p>
  <b>Thousand kilometers:</b>
  <%=h @period.thousand_kilometers %>
</p>

<p>
  <b>Months:</b>
  <%=h @period.months %>
</p>


<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>