<p>
  <b>Price:</b>
  <%=h @receive.price %>
</p>

<p>
  <b>Receiveable:</b>
  <%=h @receive.receiveable %>
</p>


<%= link_to 'Edit', edit_receive_path(@receive) %> |
<%= link_to 'Back', receives_path %>