<h1>New unpack_job</h1>

<% semantic_form_for(@unpack_job, :url => job_unpack_jobs_path(params[:job_id])) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', job_unpack_jobs_path %>