<% semantic_form_for(@delayed_job) do |f| %>
  <% if @delayed_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delayed_job.errors.count, "error") %> prohibited this delayed_job from being saved:</h2>

      <ul>
      <% @delayed_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs %>
  <%= f.buttons %>

<% end %>

