<h1>Editing receive_job</h1>

<% semantic_form_for(@receive_job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @receive_job %> |
<%= link_to 'Back', receive_jobs_path %>