<p id="notice"><%= notice %></p>

<p>
  <b>Instructions:</b>
  <%= @crawler_receive.instructions %>
</p>


<%= link_to 'Edit', edit_crawler_receive_path(@crawler_receive) %> |
<%= link_to 'Back', crawler_receives_path %>
