<%
   case params[:action]
       when 'new'
        url = supplier_job_folder_receives_path(params[:supplier_id], params[:job_id])
       when 'edit'
        url = supplier_job_folder_receive_path(params[:supplier_id], params[:job_id], params[:id])
   end
%>

<% semantic_form_for(@folder_receive, :url => url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.buttons %>
  </p>
<% end %>


