<p>
  <b>Server:</b>
  <% link = "ftp://#{@ftp_receive.login}:#{@ftp_receive.password}@#{@ftp_receive.server}:#{@ftp_receive.port}#{@ftp_receive.path}" %>
  <%= link_to link, link %>
</p>


<%= link_to 'Edit', edit_ftp_receive_path(@ftp_receive) %> |
<%= link_to 'Back', ftp_receive_path %>