<p>
  <b>Price:</b>
  <%=h @import_job.price %>
</p>

<p>
  <b>Importable:</b>
  <%=h @import_job.importable %>
</p>


<%= link_to 'Edit', edit_import_job_path(@import_job) %> |
<%= link_to 'Back', import_jobs_path %>