<h1>Editing replace_job</h1>

<%= job_path %>

<% semantic_form_for(@replace_job, :url => supplier_job_replace_job_path(params[:supplier_id], params[:job_id], params[:id])) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', supplier_jobs_path(params[:supplier_id]) %>
