<div style="font-size: 30px; margin-bottom: 20px" %>
<%= form_tag search_prices_path, :method => 'get', :id => 'search_form' do %>
  Каталожный номер: <%= text_field_tag :catalog_number, params[:catalog_number] %>
  <%= hidden_field_tag :ext_ws, "1" %>
  <%= submit_tag "Искать", :name => nil, :onclick => "this.disabled = true; document.forms['search_form'].submit();" %>
<% end %>
</div>