<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @discount_group.title %>
</p>


<%= link_to 'Edit', edit_discount_group_path(@discount_group) %> |
<%= link_to 'Back', discount_groups_path %>
