<p id="notice"><%= notice %></p>

<p>
  <b>Instruction:</b>
  <%= @http_crawler.instruction %>
</p>


<%= link_to 'Edit', edit_http_crawler_path(@http_crawler) %> |
<%= link_to 'Back', http_crawlers_path %>
