<h1>Editing convert_job</h1>

<% form_for(@convert_job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @convert_job %> |
<%= link_to 'Back', convert_jobs_path %>