<h1>Listing convert_jobs</h1>

<table>
  <tr>
  </tr>

<% @convert_jobs.each do |convert_job| %>
  <tr>
    <td><%= link_to 'Show', convert_job %></td>
    <td><%= link_to 'Edit', edit_convert_job_path(convert_job) %></td>
    <td><%= link_to 'Destroy', convert_job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New convert_job', new_convert_job_path %>